













/* general styling */
:root {
    --smaller: .75;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    align-items: center;
    background-color: black;
    display: flex;
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
}

.container {
    position: relative;
    display: block;
    color: #333;
    margin: 0 auto;
    text-align: center;
    padding-top: 45%;
    width: 100%;
}

h1 {
    font-size: 90px;
    font-weight: bold;
    letter-spacing: .125rem;
    color: white;
}

h3 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: .125rem;
    color: white;
}


li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
}

.emoji {
    display: none;
    padding: 1rem;
}

.emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}

@media all and (max-width: 768px) {
    /* h1 {
        font-size: calc(1.5rem * var(--smaller));
    } */

    li {
        font-size: calc(1.125rem * var(--smaller));
    }

    li span {
        font-size: calc(3.375rem * var(--smaller));
    }
}


p {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
  }

  #demo{
    font-weight: bolder;
    font-size: 180px;
    background: linear-gradient(to bottom right, #FFE27D, #FFE27D, #64E3FF,
    #9192FF, #9192FF);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
  }

  #img1{
    position: absolute;
    width: 20%;
    height: auto;
    padding-top: 2%;
    left: 2%;
    top: 0;
  }

  #img2{
    position: absolute;
    width: 20%;
    height: auto;
    padding-top: 2%;
    right: 2%;
    top: 0;
  }

  hr{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border: 5px solid white;
    margin-bottom: 2%;
    opacity: .5;
  }

  #hpnnow{
    padding-bottom: 5%;
    background: linear-gradient(to bottom right, #FFE27D, #FFE27D, #64E3FF,
    #9192FF, #9192FF);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
  }

  span{
    margin-top: 5%;
  }

  #header{
    padding-top: 20%;
  }

  #wallsioscript{
    margin-top: 10%;
  }
